.notification-center {
  position: var(--default-notification-center-position);
  left: var(--default-notification-center-left);
  right: var(--default-notification-center-right);
  top: var(--default-notification-center-top);
  bottom: var(--default-notification-center-bottom);
  z-index: $modal-container-z-index + 1;

  &__notification-list {
    position: var(--default-notification-list-position);
    left: var(--default-notification-list-left);
    right: var(--default-notification-list-right);
    top: var(--default-notification-list-top);
    bottom: var(--default-notification-list-bottom);
    // width: 100%;

    @media only screen and (min-device-width: 768px) {
      &--top-left,
      &--bottom-left {
        margin-right: auto;
      }
      &--top-center,
      &--bottom-center {
        margin-left: auto;
        margin-right: auto;
      }
      &--top-right,
      &--bottom-right {
        margin-left: auto;
      }
    }

    &--top {
      left: var(--default-notification-list-top-left);
      right: var(--default-notification-list-top-right);
      top: var(--default-notification-list-top-top);
      bottom: var(--default-notification-list-top-bottom);
      margin: var(--notification-margin);

      @media (max-width: 767.98px) {
        margin: calc(var(--notification-margin) * 2);
       }
    }

    &--top-left {
      left: var(--default-notification-list-top-left-left);
      right: var(--default-notification-list-top-left-right);
      top: var(--default-notification-list-top-left-top);
      bottom: var(--default-notification-list-top-left-bottom);
    }

    &--top-center {
      left: var(--default-notification-list-top-center-left);
      transform: var(--default-notification-list-top-center-transform);
      right: var(--default-notification-list-top-center-right);
      top: var(--default-notification-list-top-center-top);
      bottom: var(--default-notification-list-top-center-bottom);
    }

    &--top-right {
      left: var(--default-notification-list-top-right-left);
      right: var(--default-notification-list-top-right-right);
      top: var(--default-notification-list-top-right-top);
      bottom: var(--default-notification-list-top-right-bottom);
    }

    &--bottom {
      left: var(--default-notification-list-bottom-left);
      right: var(--default-notification-list-bottom-right);
      top: var(--default-notification-list-bottom-top);
      bottom: var(--default-notification-list-bottom-bottom);
    }

    &--bottom-left {
      left: var(--default-notification-list-bottom-left-left);
      right: var(--default-notification-list-bottom-left-right);
      top: var(--default-notification-list-bottom-left-top);
      bottom: var(--default-notification-list-bottom-left-bottom);
      // padding-bottom: 4rem;
    }

    &--bottom-center {
      left: var(--default-notification-list-bottom-center-left);
      transform: var(--default-notification-list-bottom-center-transform);
      right: var(--default-notification-list-bottom-center-right);
      top: var(--default-notification-list-bottom-center-top);
      bottom: var(--default-notification-list-bottom-center-bottom);
    }

    &--bottom-right {
      left: var(--default-notification-list-bottom-right-left);
      right: var(--default-notification-list-bottom-right-right);
      top: var(--default-notification-list-bottom-right-top);
      bottom: var(--default-notification-list-bottom-right-bottom);
    }

    &--top,
    &--top-left,
    &--top-center,
    &--top-right {
      .notification {
        margin-bottom: var(--default-notification-list-top-notification-margin-bottom);
        &:first-child {
          margin-top: var(--default-notification-list-top-notification-margin-top);
        }
      }
    }

    &--bottom,
    &--bottom-left,
    &--bottom-center,
    &--bottom-right {
      .notification {
        margin-bottom: var(--default-notification-list-bottom-notification-margin-top);
        &:last-child {
          margin-bottom: var(--default-notification-list-bottom-notification-margin-bottom);
        }
      }
    }
  }

  &__button-accept {
    // @extend .btn-sm, .btn-primary;
  }

  &__button-decline {
    // @extend .btn-sm, .btn-outline-light;
  }
}

.notification {
  padding: var(--default-notification-padding);
  margin: var(--default-notification-margin);
  width: var(--default-notification-width);
  overflow: var(--default-notification-overflow);
  border-radius: var(--default-notification-border-radius);
  border: var(--default-notification-border);
  background-color: var(--default-notification-background-color);
  box-shadow: var(--default-notification-box-shadow);
  color: var(--default-notification-color);
  // Default - width: 290px
  width: 290px;

  .notification-center__notification-list--top &,
  .notification-center__notification-list--bottom & {
    width: unset;
  }

  @media only screen and (min-device-width: 769px) {
    .notification-center__notification-list--top-center &,
    .notification-center__notification-list--bottom-center & {
      margin-left: auto;
      margin-right: auto;
    }
    .notification-center__notification-list--top-left &,
    .notification-center__notification-list--bottom-left & {
      margin-right: auto;
    }
    .notification-center__notification-list--top-right &,
    .notification-center__notification-list--bottom-right & {
      margin-left: auto;
    }
  }

  > * {
    &:last-child {
      margin-bottom: unset;
    }
  }

  &__aside {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    border-radius: .5rem;
    color: #ffffff;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;

    .material-icons {
        font-size: 2rem;
        width: 2rem;
        margin: 0 auto;
    }

    @function set-alert-icon-color( $color ) {
        @return adjust-color( $color, $lightness: 15% );
    }

    &--success {
        background-color: set-alert-icon-color(var(--default-notification-aside-icon-success-color));
    }

    &--info {
        background-color: set-alert-icon-color(var(--default-notification-aside-icon-info-color));
    }

    &--warning {
        background-color: set-alert-icon-color(var(--default-notification-aside-icon-warning-color));
    }

    &--danger {
        background-color: set-alert-icon-color(var(--default-notification-aside-icon-danger-color));
    }

    @media (max-width: 767.98px) {
        padding: 0.2rem;
        border-radius: .4rem;
        width: 2rem;
        height: 2rem;
    }
  }

  &__title {
    color: var(--default-notification-title-color);
    font-size: var(--default-notification-title-font-size);
    font-weight: var(--default-notification-title-font-weight);
    margin-top: unset;
    margin-bottom: var(--default-notification-title-margin-bottom);
    &::first-letter {
      text-transform: var(--default-notification-title-first-letter-text-transform);
    }

    &:only-child {
      margin-top: unset;
      margin-bottom: unset;
    }
  }

  &__container {
    display: flex;
    align-items: center
  }

  &__message-container {
    flex: 1;
  }

  &__message {
    flex: 1;
    color: var(--default-notification-message-color);
    font-weight: var(--default-notification-message-font-weight);
    font-size: var(--default-notification-message-font-size);
    white-space: pre-wrap;

    &::first-letter {
      text-transform: var(--default-notification-message-first-letter-text-transform);
    }
    &:last-child {
      margin-top: unset;
      margin-bottom: unset;
    }
    &:only-child {
      margin-top: unset;
      margin-bottom: unset;
    }
    &-spinner {
        flex-shrink: 0;
        margin-right: .5rem;
    }
  }
  &__close-button {
    color: var(--default-notification-close-button-color);
    background-color: var(--default-notification-close-button-background-color);
    border: var(--default-notification-close-button-border);
    border-radius: var(--default-notification-close-button-border-radius);
    padding: var(--default-notification-close-button-padding);
  }

  &__redirect {
    // @include theme-btn($default-notification-redirect-btn-variant, $default-notification-redirect-btn-style);
    padding: 0.25rem 0.5rem;
    border-radius: 0.2rem;
    margin-top: .3rem;
    width: 100%;

    > a {
        color: black;
        text-decoration: none;
        font-size: .875rem;
        line-height: 1.5;
    }
  }

  &__slim {
      padding: var(--default-notification-slim-padding);

      .notification__aside {
        margin-right: var(--default-notification-slim-aside-margin-right);
        width: var(--default-notification-slim-aside-size);
        height: var(--default-notification-slim-aside-size);
      }

      .notification__title {
        font-size: var(--default-notification-slim-title-font-size);
      }

      .notification__message {
        font-size: var(--default-notification-slim-message-font-size);
      }

      .notification__close-button {
        padding: var(--default-notification-slim-close-button-padding);
        height: var(--default-notification-slim-close-button-height);
        display: flex;
      }

      .notification__redirect {
        padding: 0.2rem 0.4rem;
        max-width: max-content;
        float: right;

        > a {
            font-size: .75rem;
            line-height: unset;
        }
      }
  }
}

// Add notification--modifiers here
.notification {
  &--notice {
    width: 320px;

    .notification__redirect {
        max-width: max-content;
        float: right;
    }
  }
  &--default {
    background-color: var(--default-notification-default-background-color);
    &__aside {
      i {
        // color: $gray-500;
      }
      .sk-fading-circle.spinner {
        //   --background-color: #2d2d2d !important;
      }
    }
  }
  &--info {
    // background-color: lighten(blue, 20%);
  }
  &--success {
    // background-color: lighten(green, 20%);
  }
  &--warning {
    // background-color: lighten(orange, 20%);
  }
  &--danger {
    // background-color: lighten(red, 20%);
  }
  &--error {
    // background-color: lighten(grey, 20%);
  }
  &--dark {
    .notification {
      &__close-button {
        color: var(--default-notification-dark-close-button-color);
        background-color: var(--default-notification-dark-close-button-background-color);
      }
      &__message {
        color: var(--default-notification-dark-message-color);
      }
      &__title {
        color: var(--default-notification-dark-title-color);
      }
    }
    &.notification {
      background-color: var(--default-notification-dark-background-color);
      color: var(--default-notification-dark-color);
    }
  }
}
