/*------------------------------------*\
  #BOOTSTRAP OVERRIDE VARS (BS)
\*------------------------------------*/
$warning: var(--warning);
$info: var(--info);
$danger: var(--danger);
$success: var(--success);

/**
 * These variables are needed for overriding default Bootstrap vars
 */

$bs-primary: var(--bs-primary);
$bs-secondary: var(--bs-secondary);
$bs-tertiary: var(--bs-tertiary);
$bs-quaternary: var(--bs-quaternary);

$bs-light: var(--bs-light);
$bs-dark: var(--bs-dark);

$bs-white: var(--bs-white);
$bs-black: var(--bs-black);


/*------------------------------------*\
  #BOOTSTRAP DEFAULT VARS
\*------------------------------------*/

$primary: var(--primary);
$secondary: var(--secondary);
$tertiary: var(--tertiary);
$quaternary: var(--quaternary);

$light: var(--light);
$dark: var(--dark);

$white: var(--white);
$black: var(--black);



/*------------------------------------*\
  #CUSTOM COLORS
\*------------------------------------*/
$gray-400: var(--gray-400);

$upcoming: var(--upcoming);
$live: var(--live);
$live-text-color: var(--live-text-color);

$finished: var(--finished);

$badge-online-color: var(--badge-online-color);
$badge-offline-color: var(--badge-offline-color);

$rank-color: var(--rank-color);

// Set the theme colors
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "quaternary": $quaternary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "white": $white,
  "black": $black,
  "upcoming": $upcoming,
  "live": $live,
  "finished": $finished
);
